<html>
    <head>
        <title>YOU LOSE!! :'(</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />  
        
    </head>
    <body style="background-image:url('https://i.ibb.co/VgKXrqG/you-lose.jpg');
    	background-repeat: no-repeat; background-position: center; ">	
    	
    	<div class="btn-again">
        	<a class="button" th:href="@{'/home'}">CLICK ME AGAIN</a>
		</div>
    	
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
        <style>
        .btn-again .button {
				background-color: #FF0000;
				color: white;
	  			padding: 8px 10px;
			    float:left;
			    margin-top: 520px;
				margin-left: 695px;
			}
        </style>
    </body>
</html>